* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background: #ffffff;
    color: #000000;
    overflow-x: hidden;
}
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

.logo {
    width: 500px;
    height: 500px;
    animation: fadeIn 2s ease-in-out, float 3s infinite ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
.categories {
    padding: 50px 20px;
    background: white;
    text-align: center;
    height: 100vh;
}
.categories h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #000000;
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.category-card {
    background:  rgb(243, 242, 242);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.category-card:hover {
    transform: scale(1.05);
}
.category-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.category-card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: #000000;
}

.btn-explorar {
    display: inline-block;
    background: #000000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 0;
    transition: background 0.3s ease-in-out;
}

.btn-explorar:hover {
    background: #333;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    font-size: 50rem;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translate(-50%, 0); }
    40% { transform: translate(-50%, -20px); }
    60% { transform: translate(-50%, -10px); }
}

/* Estilos para móviles */
@media (max-width: 767px) {
    .logo {
        width: 300px;
        height: 300px;
    }
    .categories h2 {
        font-size: 2rem;
    }
    .category-card h3 {
        font-size: 1.2rem;
    }
    .category-card p {
        font-size: 0.9rem;
    }

    .btn-explorar {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .logo {
        width: 650px;
        height: 650px;
    }

}

@media (min-width: 360px) and (max-width: 767px) {
    .logo {
        width: 330px;
        height: 330px;
    }

}
